package $package;

/**
 * model class generate from table $tableName
 *
 *@table $tableName
 */
public class $name
{
#foreach( $field in $fieldList)
    private ${field.type} ${field.name};
#end

#foreach ($field in $fieldList)
    /**
     *
     *@return
     */
    public  $field.type ${field.getGetterMethodName()}()
    {
        return ${field.name};
    }

    /**
     *
     * @param ${field.name}
     * @column ${field.columnName}
     */
    public void ${field.getSetterMethodName()}(${field.type} ${field.name})
    {
         this.${field.name} = ${field.name};
    }
#end
}